/*WEBSITE GRID STRUCTURE*/

body {
    display:grid;
    height: 100vh;
    grid-template: auto 1fr auto / 0.5fr 1fr 0.5fr;
    background-color:#f0f0f0;
    background: #68717c;
    margin:0px;
    font-family: "Oswald", serif;
    background-image: url('/images/peruvianruin.webp');
    background-position: center;
    background-size: cover;
    
 
  }
header {
    background: #003d5b;
    grid-column: 1 / 4; 
    
  }
.left-sidebar {
  grid-column: 1 / 2;
}
main {
  grid-column: 2 / 3;
  max-width: 100%;
  
}
.right-sidebar {
  grid-column: 3 / 4;
}
footer {
  background: #003d5b;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  color: white;
}
.left-sidebar,
.right-sidebar {
  padding: 1rem;
}

.left-sidebar,
.right-sidebar,main {
  
}
/* END OF WEBSITE GRID STRUCTURE*/

/*HEADER EDIT*/

h1 {
	text-align: center;
	background-color: 003d5b;
	padding: 0.5rem;
	color: #ffffff;
    
}

#Peru {
  font-size: 40px;
  border-radius: 5px;
}

/*END OF HEADER EDIT*/

/*FOOTER EDIT*/

#year{
    font-size: medium;
    }
    
    #lastModified{
      font-size: medium;
      color: #d8d658;
    }
    
    .highlight {
        color: rgb(255, 255, 255);
        font-weight: 400;
    
    }
/*END OF FOOTER EDI*/