/*WEBSITE GRID STRUCTURE*/

:root{
--font:"Oswald", serif;
--marg:0px;
}
body {
    display:grid;
    height: 100vh;
    grid-template: auto 1fr auto / 0.5fr 1fr 0.5fr;
    font-family: var(--font);
    margin:var(--marg);
    background-image: url('/images/lima.webp');
    background-position: center;
  
  }
header {
    background: #003d5b;
    grid-column: 1 / 4; 
    
  }
.left-sidebar {
  grid-column: 1 / 2;
}
main {
  grid-column: 2 / 3;
  max-width: 100%;
}

main img{
  display:none;
}
.right-sidebar {
  grid-column: 3 / 4;
}
footer {
  background: #003d5b;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  color: white;
}
.left-sidebar,
.right-sidebar {
  padding: 1rem;
}

/* END OF WEBSITE GRID STRUCTURE*/
.containerh2{
  background-color: rgb(196, 140, 21);
  border-radius: 3px;
}

h2{
  margin:20px;
}
.svg{
  display: none;
}

.containerleft,.containerright{
  background-color: white;
  padding:10px;
  opacity:0.7 ;
  text-shadow: 0 0 0 black;
  border-radius: 3px;
}
.containerleft{
  margin-top: 50px;
  margin-left: 20px;
}
.containerright{
  margin-top: 380px;
  margin-right:20px;
}

.infodata{
  font-size: 20px;
}

/*HEADER EDIT*/

h1 {
	text-align: center;
	padding: 0.5rem;
	color: #ffffff;
    
}

#Peru {
  font-size: 40px;
  border-radius: 5px;
}

/*END OF HEADER EDIT*/




/*FOOTER EDIT*/

#year{
    font-size: medium;
    }
    
#lastModified{
    font-size: medium;
    color: #d8d658;
}
    
.highlight {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.flag::after {
  content: "🌊 🇵🇪"; /* Adds an arrow after the button text */
  font-weight: bold;
  font-size: small;
}
/*END OF FOOTER EDI*/